## Demo

### Register Universe

In [1]:
from registerUniverse import register_universe_main
universe = register_universe_main()

In [2]:
universe.show_registered_securities("VOL:US")

Total registered 1 securities

Securities:
DJI_365_13000_P

In [3]:
universe.get_security("DJI_365_13000_P").price

2012-09-04    0.197583
2012-09-05    0.213575
2012-09-06    0.211412
2012-09-07    0.208156
2012-09-10    0.205524
2012-09-11    0.205721
2012-09-12    0.203255
2012-09-13    0.199705
2012-09-14    0.201863
2012-09-17    0.202686
2012-09-18    0.202669
2012-09-19    0.199657
2012-09-20    0.202755
2012-09-21    0.201062
2012-09-24    0.200489
2012-09-25    0.202152
2012-09-26    0.204696
2012-09-27    0.201970
2012-09-28    0.201267
2012-10-01    0.203682
2012-10-02    0.203535
2012-10-03    0.202920
2012-10-04    0.201810
2012-10-05    0.200048
2012-10-08    0.199407
2012-10-09    0.197765
2012-10-10    0.198525
2012-10-11    0.194955
2012-10-12    0.193809
2012-10-15    0.191780
                ...
2019-04-22    0.256004
2019-04-23    0.255458
2019-04-24    0.256774
2019-04-25    0.256774
2019-04-26    0.258875
2019-04-29    0.257457
2019-04-30    0.257776
2019-05-01    0.271136
2019-05-02    0.269159
2019-05-03    0.267134
2019-05-06    0.266429
2019-05-07    0.270514
2019-05-08    0.269930
2019-05-09    0.271638
2019-05-10    0.269380
2019-05-13    0.270422
2019-05-14    0.272918
2019-05-15    0.268223
2019-05-16    0.267675
2019-05-17    0.269619
2019-05-20    0.272223
2019-05-21    0.271932
2019-05-22    0.272408
2019-05-23    0.277856
2019-05-24    0.273206
2019-05-27    0.273206
2019-05-28    0.277013
2019-05-29    0.273879
2019-05-30    0.280954
2019-05-31    0.279368
Length: 1759, dtype: float64

### possible strikes

In [ ]:
import os
import pandas as pd
from datetime import datetime
dir_path = os.getcwd()
data_path = dir_path + "/Data/"
options = pd.read_csv(data_path+"option/new_DJX_filtered.csv")
#options['date'] = [datetime.strptime(str(item), '%Y-%m-%d') for item in options['date']]
#options['exdate'] = [datetime.strptime(str(item), '%Y-%m-%d') for item in options['exdate']]

In [ ]:
pd.DataFrame(options.groupby("strike_price").first().index)

     strike_price
0            5000
1            5500
2            6000
3            6100
4            6200
5            6300
6            6400
7            6500
8            6600
9            6700
10           6800
11           6900
12           7000
13           7100
14           7200
15           7300
16           7400
17           7500
18           7600
19           7700
20           7800
21           7900
22           8000
23           8100
24           8200
25           8300
26           8400
27           8500
28           8600
29           8700
..            ...
195         25300
196         25400
197         25500
198         25600
199         25700
200         25800
201         25900
202         26000
203         26500
204         27000
205         27500
206         28000
207         28500
208         29000
209         29500
210         30000
211         30500
212         31000
213         31500
214         32000
215         32500
216         33000
217         33500
218         34000
219         34500
220         35000
221         35500
222         36000
223         36500
224         37000

[225 rows x 1 columns]

### Register any option into universe

In [ ]:
## pre-registered option
universe.show_registered_securities("VOL:US")

Total registered 1 securities

Securities:
DJI_365_13000_P

In [ ]:
## register options: ## please make sure run all of the lines below in order to register it successfully 
from Instrument import Option
from datetime import timedelta
option = Option("DJI_365_13500_P", timedelta(365), 13500, "put", universe.get_security("DJI"),universe.get_security("rf_rate_us").price, "2012-09-04", 100)
universe.addInstrument(option)
## fill in all options implied vol and premium
universe.add_imp_vol_series_to_all_option()
universe.get_security("DJI_365_13500_P").add_series()

In [ ]:
universe.get_security("DJI_365_13000_P").premium.plot()
# try premium, value, delta, vega, price (which here is implied vol)

In [ ]:
universe.get_security("DJI_365_13500_P").underlying.price.loc["2012-09-04"]

### fit factor model on underlying

In [ ]:
start_date = "2014-01-01"
window_size = 250 * 5
mdl = universe.fitFactorModel(universe.get_security("DJI_365_13500_P").underlying.ticker, start_date, window_size)

In [ ]:
mdl.params

### fit factor model on vol

In [ ]:
start_date = "2014-01-01"
window_size = 250 * 5
mdl = universe.fitFactorModel("DJI_365_13500_P", start_date, window_size)
mdl.params

### risk attribution

delta * (beta on underlying) + vega * (beta on implied vol)

In [ ]:
a = universe.get_security("DJI_365_13500_P").price.tail(10)
a.index = [n for n in range(10)]
a

### Option Data Cleaning - not important!

In [ ]:
import os
import pandas as pd
from datetime import datetime
dir_path = os.getcwd()
data_path = dir_path + "/Data/"
options = pd.read_csv(data_path+"option/new_DJX_filtered.csv")
options['date'] = [datetime.strptime(str(item), '%Y-%m-%d') for item in options['date']]
options['exdate'] = [datetime.strptime(str(item), '%Y-%m-%d') for item in options['exdate']]
options.head()

In [ ]:
from datetime import timedelta, datetime
datetime.strftimr(timedelta(365*0.5) + datetime(2014, 9, 4), "%Y-%m-%d"

In [ ]:
a = options[(options["exdate"] < datetime.strptime("2014-09-04", '%Y-%m-%d')) & (options["exdate"] > datetime.strptime("2013-09-04", '%Y-%m-%d'))]
#a[options["exdate"] > datetime.strptime("2013-09-04", '%Y-%m-%d')]
a.iloc[0]

In [ ]:
options[(options.exdate == "2012-09-07")][options.cp_flag == "C"][options.strike_price	 == 121]

In [ ]:
options[options.optionid == 65489034]

In [ ]:
(datetime.strptime("2012-09-22", '%Y-%m-%d') - datetime.strptime("2012-09-04", '%Y-%m-%d')).days

In [ ]:
grouped_options = options.groupby(['optionid'])
a = grouped_options.first()
a.shape

In [ ]:
grouped_options.get_group(49506844)

In [ ]:
 int(grouped_options.first().count()[0])

In [ ]:
temp_l = {}
group_options_first = grouped_options.first()
for index in group_options_first.index:
    n = grouped_options.get_group(index).count()[0]
    #print(n)
    T = datetime.strptime(group_options_first["exdate"].loc[index], '%Y-%m-%d') - datetime.strptime(group_options_first["date"].loc[index], '%Y-%m-%d')
    #print(T)
    #for i in range(n):
        #temp_l.append(T)
    temp_l[index] = T

In [ ]:
temp_df = pd.DataFrame.from_dict(temp_l,orient='index', columns=['T'])
temp_df.head()

In [ ]:
final_options = options.merge(temp_df, left_on = "optionid", right_index=True )

In [ ]:
set(temp_df[temp_df.columns.tolist()[0]])

In [ ]:
from datetime import timedelta

In [ ]:
chosenT = [timedelta(91), timedelta(365), timedelta(1095)]
chosenT

In [ ]:
final_options[final_options["T"].isin(chosenT)]

In [ ]:
temp = final_options[final_options["T"].isin([timedelta(365),timedelta(364)])]
temp

In [ ]:
options.groupby([])